.activityZone {
    border: 1px solid #000000;
    padding: 20px;
    background-color: #fff8c9;
	height: 1000px;
	width: calc(100% - 164px);
	display: inline-block;
}

.activity {
	border: 1px solid #000000;
	padding:20px;
	margin:10px;
}

.activityText {
	display: inline-block;
}

.checkBox {
	display:inline-block;
	font-size: 30px;
	float: right;
	margin-top: -5px;
}

#times {
	height: 1000px;
	width: 80px;
	padding: 20px;
	display: inline-block;
}

.time {
	border: 1px solid #ffffff;
	margin-top:10px;
	margin-bottom:10px;
	padding: 20px;
}

.text {
	font-size: 16px;
}


.group:after {
	content: "";
	display: table;
	clear: both;
}

#cog {
	font-size: 40px;
	float:right;
	margin-right: 20px;
	margin-bottom: 10px;
}

/*------------------------------------------*/

.productivity { 
	font-size: 20px;
	display: inline-block;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	Width: 50%;
}

.days {
	border: 1px solid #000;
	
}



.day {
	display: inline-block;
	width: calc(100%/7);
	border-right: 1px solid #000;
}

.day:last-child {
    border-right: none;
	width: calc(100%/7);
}

.day-name {

	text-align: center;
	border-bottom: 1px solid #444;
}

.day-productivity {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}



