.note {
    border-radius: 6px;
    padding: 20px;
    box-shadow: 3px 3px 3px #00000026;
    background-color: #fff8c9;
}

.note h1 {
    font-weight: 600;
    margin: 0 0 10px;
}

.note li {
    border-top: 1px solid #d4cc99;
    padding: 10px 0px;
}

.note li:last-child {
    border-bottom: 1px solid #d4cc99;
}