.activityZone {
    border: 1px solid #000000;
    padding: 20px;
    background-color: #fff8c9;
	height: 2000px;
	width: calc(100% - 124px);
	display: inline-block;
}

#times {
	height: 2000px;
	width: 40px;
	padding: 20px;
	display: inline-block;
}


.group:after {
	content: "";
	display: table;
	clear: both;
}

#cog {
	font-size: 40px;
	float:right;
	margin-right: 20px;
	margin-bottom: 10px;
}

.note h1 {
    font-weight: 600;
    margin: 0 0 10px;
}

.note li {
    border-top: 1px solid #d4cc99;
    padding: 10px 0px;
}

.note li:last-child {
    border-bottom: 1px solid #d4cc99;
}